@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

/* breakpoint - sm */
@media screen and (min-width: 576px){
    .content{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* breakpoint - md */
@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
